h1{
    font-family: 'Bebas Neue', serif;
    font-size: 80px;
}

body{
    background-color: whitesmoke;
    text-align: center;
}

#img-1{
    background-color: whitesmoke;
    height: auto;
    width: 500;
}

.button button{
    color: black;
    font-family: 'Bebas Neue', serif;
    font-size: 30px;
}
.navigation button{
    font-family: 'Bebas Neue';
    font-size: 25px;
}